<h1>StaticPages#home</h1>
<br>
<% case %>
  <% when admin_signed_in?%>
  <p>Hello, admin <%= current_admin.email%> !</p>
  <ul><% @users.each do |user| %>
    <li> <%= user.email %> </li>
  </ul> <% end %>
  <% when user_signed_in?%>
  <p>Hello, user <%= current_user.email%> !</p>
  <% else %>
  <p>We are waiting for you <%= link_to "Sign up"%></p>
<% end %>
