<div class="navbar">
<div class="navbar-inner">
<ul class="nav pull-right">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Help", help_path %></li>

  <% case %>
  <% when admin_signed_in?%>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Settings", '#' %></li>
        <li class="divider"></li>
        <li>
          <%= link_to "Logout", destroy_admin_session_path, :method => :delete %>
        </li>
      </ul>
    </li>
    <li> <%= link_to "Logout", destroy_admin_session_path, :method => :delete %></li>

  <% when user_signed_in?%>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li><%= link_to "Settings", '#' %></li>
        <li class="divider"></li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        </li>
      </ul>
    </li>
    <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>

  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>

</ul>
</div>
</div>
