<!DOCTYPE html>
<html>
<head>
  <title>Etest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
  <%= render 'layouts/footer' %>  
    </div>
  </div>
</body>

</html>
